
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono|Mono);

body {
  background-color: cornsilk;
}

header {
  background-color: darkred;
  font-family: "Ubuntu Mono", monospace;
  margin: auto;
  text-align: center;
  color: lightyellow;
  height: 100px;
}

header > h1 {
  font-size: 40px;
  color: yellowgreen;
}

main {
  background-color: lightcoral;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main > article > img {
  width: 250px;
  height: auto;
}